* {
  margin: 0;
  padding: 0;
}

body {
  /*background: #f5f5f5;*/
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.router-box {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border: 1px solid #ccc;
}

.router-box-header {
  padding: 5px 10px;
  border-bottom: 1px solid #ccd;
  background-color: #eef1f6;
  box-shadow: 0px 5px 10px grey
}

.router-box-body {
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0px 5px 10px grey;
}

  a {
    text-decoration: none;
    background-color: transparent;
    color: #2c3e50;
  }
